@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
.container {
	width: 250px;
	/*min-height: 538.5px;
	min-height: 170px;*/
	height: fit-content;
	background: #00bfff;
	border-radius: 10px;
	font-family: Comfortaa, "Comic Sans MS", Arial, sans-serif;
	padding: 5px;
	}
		
#title {
	text-align: center;
	margin-top: 0px;
	word-break: break-word;
	}
		
#error:not(:empty) {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
	}
		
.image {
	width: 204px;
	height: 132.5px;
	display: block;
    margin: 0 auto;
	border-radius: 5px;
	}
		
textarea {
	border: 2px solid black;
	background: #aae9ff;
	display: block;
	margin: 0 auto;
	white-space:pre-wrap; 
	width:204px; 
	height:300px; 	
	resize:none;
	border-radius: 7px;
	cursor: default;
	font-family: "helvetica neue", arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	}

textarea:focus {
	outline: none;
	}
		
#credit {
	font-size: 10px;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom:0px;
	}
		
a {
	color: inherit;
	}
		
a:hover {
	color: blue;
	}

/* Scrollbar */
textarea::-webkit-scrollbar {
	width: 10px;
	}

textarea::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px transparent; 
	border-radius: 10px;
	}
 
textarea::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px #9c9c9c; 
	border: solid 2px transparent;
	border-radius: 10px;
	}

textarea::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 10px 10px grey; 
	border: solid 2px transparent;
	border-radius: 10px;
	}