.content {
	margin-left: 5px;
	}

input[type=text]{
	width:25%;
	padding:12px 20px;
	border:2px solid white;
  	border-radius:4px;
	background-color:#F0F0F0;
	}
			
input[type=submit] {
	background-color: #7AC5CD;
	font-size: 16px;
	padding: 12px 20px;
	border-radius: 12px;
	width: 50px%;
	border:2px solid black;
	}
			
input[type=submit]:hover {
  	background-color: #8EE5EE;
	}
			
input[type=submit]:active {
  	background-color: #8EE5EE;
	}
